/*my font?*/ 
@font-face {
    font-family: 'BetterUnicorn';
    src: url('fonts/BetterUnicorn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
background: #097ee4;
color: white;
text-align: center;
font-family: Arial;
padding: 20px;


    font-family: 'BetterUnicorn', cursive, sans-serif;

}


button {
margin: 8px;
padding: 10px 20px;
background: rgb(227, 222, 248);
color: black;
border: none;
border-radius: 8px;
cursor: pointer;
   
    font-family: 'BetterUnicorn', cursive, sans-serif;
}


.planet-body,
.planet-water,
.planet-final {
width: 250px;
height: 250px;
border-radius: 50%;
margin: 20px auto;
background: rgb(241, 177, 170);
}


.planet-body.filled { background: #2d2d2d; }
.planet-water.filled { background: #4bb8ff; }
.planet-final { background: #4bb8ff; position: relative; overflow: hidden; }
.land-piece {
position: absolute;
width: 70px;
height: 40px;
background: #4CAF50;
border-radius: 40% 60% 60% 40%;
}